In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame(np.random.rand(100,8),columns=['A','B','C','D','E','F','G','H'])
df

,A,B,C,D,E,F,G,H
0,0.878246,0.912280,0.266190,0.039364,0.099350,0.649804,0.709370,0.019144
1,0.415180,0.897280,0.641553,0.189559,0.071144,0.135883,0.171119,0.566831
2,0.002044,0.727491,0.171303,0.028586,0.649921,0.943567,0.460774,0.425286
3,0.623068,0.476316,0.643042,0.398049,0.978658,0.061113,0.641973,0.075497
4,0.582196,0.876839,0.718263,0.503678,0.673553,0.409430,0.871193,0.778357
...,...,...,...,...,...,...,...,...
95,0.925464,0.923532,0.410463,0.224227,0.393678,0.487788,0.618819,0.889229
96,0.752231,0.625605,0.113475,0.766764,0.132249,0.567802,0.747384,0.414747
97,0.406301,0.154297,0.118246,0.395684,0.246514,0.428164,0.453536,0.511132
98,0.430334,0.804736,0.719006,0.363138,0.965203,0.432086,0.543151,0.747336
99,0.093100,0.712540,0.808167,0.569863,0.215264,0.517343,0.057278,0.879567

In [3]:
df.sample()

,A,B,C,D,E,F,G,H
89,0.933697,0.314695,0.124391,0.323956,0.119673,0.788518,0.661372,0.926623

In [4]:
df.head()

,A,B,C,D,E,F,G,H
0,0.878246,0.912280,0.266190,0.039364,0.099350,0.649804,0.709370,0.019144
1,0.415180,0.897280,0.641553,0.189559,0.071144,0.135883,0.171119,0.566831
2,0.002044,0.727491,0.171303,0.028586,0.649921,0.943567,0.460774,0.425286
3,0.623068,0.476316,0.643042,0.398049,0.978658,0.061113,0.641973,0.075497
4,0.582196,0.876839,0.718263,0.503678,0.673553,0.409430,0.871193,0.778357

In [5]:
df.tail()

,A,B,C,D,E,F,G,H
95,0.925464,0.923532,0.410463,0.224227,0.393678,0.487788,0.618819,0.889229
96,0.752231,0.625605,0.113475,0.766764,0.132249,0.567802,0.747384,0.414747
97,0.406301,0.154297,0.118246,0.395684,0.246514,0.428164,0.453536,0.511132
98,0.430334,0.804736,0.719006,0.363138,0.965203,0.432086,0.543151,0.747336
99,0.093100,0.712540,0.808167,0.569863,0.215264,0.517343,0.057278,0.879567

In [8]:
df.nlargest(n=5 , columns=['A'])

,A,B,C,D,E,F,G,H
94,0.977577,0.143548,0.031479,0.826330,0.469334,0.574587,0.709631,0.665911
19,0.938158,0.432049,0.770493,0.276758,0.881236,0.535398,0.875325,0.495150
89,0.933697,0.314695,0.124391,0.323956,0.119673,0.788518,0.661372,0.926623
11,0.930425,0.053226,0.037934,0.831722,0.149793,0.287531,0.330546,0.729412
95,0.925464,0.923532,0.410463,0.224227,0.393678,0.487788,0.618819,0.889229

In [9]:
df.nlargest(n=5 , columns=['D'])

,A,B,C,D,E,F,G,H
81,0.057149,0.249816,0.339885,0.954074,0.932378,0.628063,0.546001,0.824810
36,0.198957,0.919085,0.085633,0.950492,0.854898,0.760696,0.379909,0.268477
23,0.090602,0.787278,0.005357,0.936745,0.375758,0.272878,0.392921,0.643933
27,0.849468,0.268837,0.688499,0.919066,0.359384,0.313579,0.519302,0.460281
91,0.663500,0.568026,0.820576,0.905568,0.375875,0.144178,0.186199,0.388160

In [10]:
df.nlargest(n=5 , columns=['D','A'])

,A,B,C,D,E,F,G,H
81,0.057149,0.249816,0.339885,0.954074,0.932378,0.628063,0.546001,0.824810
36,0.198957,0.919085,0.085633,0.950492,0.854898,0.760696,0.379909,0.268477
23,0.090602,0.787278,0.005357,0.936745,0.375758,0.272878,0.392921,0.643933
27,0.849468,0.268837,0.688499,0.919066,0.359384,0.313579,0.519302,0.460281
91,0.663500,0.568026,0.820576,0.905568,0.375875,0.144178,0.186199,0.388160

In [11]:
df.nsmallest(n=5 , columns=['E'])

,A,B,C,D,E,F,G,H
87,0.585001,0.833803,0.228822,0.178662,0.046205,0.152352,0.756487,0.751633
52,0.078581,0.629899,0.569755,0.887852,0.061659,0.289417,0.739281,0.693320
1,0.415180,0.897280,0.641553,0.189559,0.071144,0.135883,0.171119,0.566831
68,0.697237,0.490027,0.451797,0.591191,0.073839,0.736710,0.095673,0.641928
35,0.221221,0.806245,0.846879,0.066404,0.080213,0.161056,0.351040,0.524362